body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .disable-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 20px;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #error-message {
    color: red;
    margin-top: 10px;
  }
  